.countrylist {
  display: grid;
  padding: 0 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}
ul{
  padding: 0;
}
li {
    list-style-type: none;
