.countrylist {
  display: flex;
  flex-direction: column;
  left: 50px;
  right: 50px;
}
.left {
  margin-left: 40px;
}
li {
    list-style-type: none;
  margin-left: -40px;
   }
@media screen and (max-width: 480px) {
.countrylist {
  flex-direction: column;
  }
  .left {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
.countrylist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
  .left {
    margin-left: 0px;
  }
}
